<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Recibo de Pago</title>
    <style>
     body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

/* Navegación */
nav {
  background-color: #666;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

/* Contenido principal */
main {
  padding: 20px 0;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
    </style>
</head>

<body>


    <div class="container">
        <h1>Generar Recibo de Pago</h1>
        <form action="/" method="post">
            <label for="numDocente">Número de Docente:</label>
            <input type="text" id="numDocente" name="numDocente" required><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>

            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" required><br>

            <label for="nivel">Nivel:</label>
            <select id="nivel" name="nivel" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br>

            <label for="pagoBase">Pago Base por Hora Impartida:</label>
            <input type="number" id="pagoBase" name="pagoBase" required><br>

            <label for="horasImpartidas">Horas Impartidas:</label>
            <input type="number" id="horasImpartidas" name="horasImpartidas" required><br>

            <label for="cantidadHijos">Cantidad de Hijos:</label>
            <input type="number" id="cantidadHijos" name="cantidadHijos" required><br>

            
            <button type="submit">Generar Recibo</button>
        </form>
    </div>

    <% if (numDocente) { %>
    <div class="receipt container">
        <h1>Recibo de Pago</h1>
        <p><strong>Número de Docente:</strong> <%= numDocente %></p>
        <p><strong>Nombre:</strong> <%= nombre %></p>
        <p><strong>Domicilio:</strong> <%= domicilio %></p>
        <p><strong>Nivel:</strong> <%= nivel %></p>
        <p><strong>Pago Base por Hora Impartida:</strong> <%= pagoBase %></p>
        <p><strong>Horas Impartidas:</strong> <%= horasImpartidas %></p>
        <p><strong>Cantidad de Hijos:</strong> <%= cantidadHijos %></p>
        <hr>
        <p><strong>Pago Base Total:</strong> <%= pagoBaseTotal %></p>
        <p><strong>Impuesto:</strong> <%= impuesto %></p>
        <p><strong>Bono por Paternidad:</strong> <%= bonoTotal %></p>
        <hr>
        <h2><strong>Total a Pagar:</strong> <%= totalAPagar %></h2>
    </div>
    <% } %>
</body>

</html>

